.navbar {
  .navbar-toggler {
    --ease-in-cubic: cubic-bezier(.55, .055, .675, .19);
    --ease-out-cubic: cubic-bezier(.215, .61, .355, 1);
    --ease-parabolic-fall: cubic-bezier(.33333, 0, .66667, .33333);
    --ease-parabolic-rise: cubic-bezier(.33333, .66667, .66667, 1);
    --toggler-icon-height: 22px;
    --toggler-icon-width: 22px;

    background: none !important;
    border: none !important;
    border-radius: 0 !important;
    height: var(--toggler-icon-height);
    padding: 0 !important;
    position: relative;
    width: var(--toggler-icon-width);

    .navbar-toggler-icon {
        position: absolute;
        top: 10px;
        transform: rotate(-45deg);
        transition: transform .13s var(--ease-in-cubic) .13s;

      &, &::after, &::before {
        background-color: var(--navbar-toggler-color);
        display: block;
        height: 2px;
        position: absolute;
        width: var(--toggler-icon-width);
      }

      &::after, &::before {
        content: "";
      }

      &::after {
        opacity: 0;
        top: 0;
        transition: opacity .1s linear .22s, top .2s var(--ease-parabolic-fall);
      }

      &::before {
        top: 0;
        transform: rotate(-90deg);
        transition: top .2s var(--ease-parabolic-fall), transform .13s var(--ease-out-cubic) .26s;
      }
    }

    &.collapsed {
      .navbar-toggler-icon {
        top: 10px;
        transform: rotate(0);
        transition: transform .13s var(--ease-out-cubic) .22s;

        &::after {
          opacity: 1;
          top: 6px;
          transition: opacity .1s linear, top .2s var(--ease-parabolic-rise) .2s;
        }

        &::before {
          top: -6px;
          transform: rotate(0);
          transition: top .2s var(--ease-parabolic-rise) .2s, transform .13s var(--ease-in-cubic);
        }
      }
    }
  }
}
